#photoDIV {
  display: grid;
  justify-content: center;
  position: relative;
}

body {
  color: black;
  font-size: 1.25rem;
  /* background-color:#81b9b9; */
}

.newPoseBtn {
  background-color: goldenrod;
  color: white;
  border-color: transparent;
  text-decoration: none;
  border-radius: 0.25rem;
  text-align: center;
  display: inline-block;
  transition: all 0.3s;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  position: relative;
}

footer {
  min-width: 100%;
  position: fixed;
  bottom: 0;
}


