.headerstockdisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    background: black;
}

.bannerquotesbox {
    font-size: 20px;
    letter-spacing: 1px;
    height: auto;
    width: auto;
    color: white;
    background: black;
    margin: 22px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 1px 1px 2px 1px black
}

.bannerquotesboxcompanysymbol {
    font-size: 40px;
    letter-spacing: 2px;
    height: 45px;
    width: 300px;
    color: white;
    background: #a520da;
    text-align: center;
    margin-left: 10px;
    padding: 10px;
    box-shadow: 1px 1px 2px 1px black
}

.quotesbox {
    font-size: 20px;
    letter-spacing: 2px;
    width: 290px;
    height: 255px;
    color: white;
    background: black;
    margin-left: 10px;
    padding: 15px;
    box-shadow: 1px 1px 2px 1px black
}

button {
    background-color: goldenrod;
    text-decoration: none;
    color: white;
    border-radius: .25rem;
    text-align: center;
    display: inline-block;
    transition: all .3s;
    padding: .5rem 1rem;
    margin: .5rem;
}

#stocksdisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-items: space-evenly;
}

#displaycompanydetail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stocks-link:link {
    background-color: black;
    color: blue;
}

.stocks-link:visited {
    background-color: black;
    color: purple;
}

.companyDetailsButton {

    background-color: #a520da;
    text-decoration: none;
    color: white;
    border-radius: .25rem;
    text-align: center;
    display: inline-block;
    transition: all .3s;
    padding: .5rem 1rem;
    margin: .5rem;
}