/* Typography imported from Google Fonts */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

/* Generic styles */

body {
    margin: 0;
   
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

p, a {
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    background-color: goldenrod;
    text-decoration: none;
    color: white;
    border-radius: .25rem;
    text-align: center;
    display: inline-block;
    transition: all .3s;
}

a:hover {
    opacity: .6;
}


/* header styles */

.header {
    /* Photo by Patryk Gauza on unsplash.com */
    background: url('images/beans.jpg') center;
    background-size: cover;
    padding: 4rem 2rem;
    /* grid styles */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
}

.header>* {
    color: white;
}

.header > h1 {
    font-size: 4rem;
    padding-bottom: 1rem;
    /* background-color: rgba(0, 0, 0, .3); */
}

.header > article > p {
    font-size: 1.5rem;
    font-weight: 200;
    /* background-color: rgba(0, 0, 0, .3); */
}

.header > article > a {
    padding: 1rem;
    margin-top: .75rem;
}


/* cards styles for front page */

.cards {
    /* padding: .5rem; */
    
}

.cards>ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 420px));
    grid-gap: 1rem;
    list-style-type: none;   
    padding-inline-start: 109px; 
}

.cards>ul>li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
    
}

.cards>ul>li>figure {
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
}

.cards>ul>li>figure>img {
    width: 100%;
}

.cards>ul>li>figure>figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
}

.cards>ul>li>figure>figcaption>h3 {
    color: white;
    padding: .75rem;
    font-size: 1.25rem;
}

.cards>ul>li>p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem .75rem;
    color: #666666;
}

.cards>ul>li>a {
    padding: .5rem 1rem;
    margin: .5rem;
}


/*footer*/

footer {
    background-color: #333;
    padding: .75rem;
    color: white;
    text-align: center;
    font-size: .75rem;
    min-width: 350px;
}

/* padding and mobile-shrinkage div styling for subpages */

.content-wrapper {
    padding: 20px
}

.search-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 10px;
    background-color: rgb(255, 237, 214);
    box-shadow: 1px 1px 2px 1px black
  }


/* Styling for News Page */

.news-link:link {
    background-color: white;
    color: blue;
}

.news-link:visited {
    background-color: white;
    color: purple;
}

.button {
    background-color: goldenrod;
    text-decoration: none;
    color: white;
    border-radius: .25rem;
    text-align: center;
    display: inline-block;
    transition: all .3s;
    padding: .5rem 1rem;
    margin: .5rem;
}

.button:hover {
    opacity: .6;
}

li {
    list-style-type: none;
    text-align: center;
}



/* Styling for Weather Page */


.weather-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto 
}


.weather-column {

    flex: 1 1 0px;   
    text-align: center; 
    line-height: 1.6;

}

#displayWeatherUL {
    font-size: 1.5rem;
    
}

#weatherTitle {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
      
}

/* Styling for Horoscope Page */
.zodiac-or-weather-banner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
    justify-content: space-around;
    padding-left: 20px;
}

.zodiac-or-weather-image {
    width: 200px;
    height: 200px;
    padding: .3rem;
}

.horoscope-search-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
    background-color: rgb(255, 237, 214);
    box-shadow: 1px 1px 2px 1px black
}

#showHoroscope {
    display: flex;
    justify-content: center;
    margin: auto;
}

#horoscopeForToday {
    text-align: center ;
}

/* Styling for Nutrition Page */

#nutritionFactsUL {
    font-size: 1.25rem;
}

.nutritionImg {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#nutritionQuestionItems {
    font-size: 1.75rem;
}


/* Styling for Affirmations Section */
#affirmationsDisplayUL{
    text-align: center;
    color:goldenrod;
    font-style: italic;
    padding: 15px;
}

/* Styling for Fitness Section */

#fitnessDisplay {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Styling for Mobile Devices */

@media screen and (max-width: 375px) {
    .cards>ul {
        grid-template-columns: repeat(auto-fit, minmax(240px, 300px));
        padding: 25px;

    #horoscope-page-title {
        font-size: 3.5rem; 
    }
    
    .cards>ul>li>p {
        font-size: 1rem;
        line-height: 1.5;
        padding: 1rem .75rem;
        color: #666666;
    }
    .content-wrapper {
        padding: 10px
    }

}

/* Styling for Larger Screens*/
@media screen and (min-width: 376px) {
    .cards>ul {
        padding-inline-start: 109px;
    }

    .content-wrapper {
        padding: 20px
    }

    .cards {
        padding: .5rem;
    }